<div class="container-flex content-bkgd p-2 m-1">
  <div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-4 m-5">
      <img
        src="/assets/images/duyen_terry.jpg"
        width="auto"
        height="500px"
        alt=""
      />
    </div>
    <div class="col-sm-4 m-5">
      <h2>About Terry Le & Timeless Videography</h2>
      <p>
        Terry's passion for recording memories began in high school as a hobby
        when he began using his GoPro to record family events and trips with
        friends. Terry has since expanded upon his knowledge and videography
        techniques and has been recording professionally for several years.
      </p>
      <p>
        Terry Le grew up and resides in the Westbank of New Orleans with his
        wife Duyen.
      </p>
    </div>
    <div class="col-sm-2"></div>
    <!-- .row -->
  </div>
  <!-- .container -->
</div>
