<div class="container-flex content-bkgd p-2 m-2">
  <h2 class="text-center">Blog</h2>
  <div class="row my-5">
    <div class="col-sm-2"></div>
    <div class="col-sm-4 m-2 p-1">
      <h3>Belle Chasse Friends & Family Christmas</h3>
      <h4>Belle Chasse, LA</h4>
      <h3 id="date">12/2019</h3>
    </div>
    <div class="col-sm-4 m-2 p-1">
      <iframe
        class="first"
        width="100%"
        height="300px"
        src="https://www.youtube.com/embed/XDaeqBVpmT8"
        frameborder="0"
        allow="accelerometer; encrypted-media; gyroscope; picture-in-picture"
      ></iframe>
    </div>
    <div class="col-sm-2"></div>
    <!-- .row -->
  </div>
  <div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-4 m-2 p-1">
      <h3>Lafayette "Friendsmas" Christmas</h3>
      <h4>Lafayette, LA</h4>
      <h3 id="date">12/2019</h3>
    </div>
    <div class="col-sm-4 m-2 p-1">
      <iframe
        class="first"
        width="100%"
        height="300px"
        src="https://www.youtube.com/embed/xqlfYtdpi94?list=TLPQMTkwMTIwMjDgYEaFr0c03g"
        frameborder="0"
        allow="accelerometer; encrypted-media; gyroscope; picture-in-picture"
      ></iframe>
    </div>
    <div class="col-sm-2"></div>
    <!-- .row -->
  </div>
  <!-- .container-flex -->

  <div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-4 m-2 p-1">
      <h3>Kylie's 1st Birthday</h3>
      <h4>New Orleans, LA</h4>
      <h3 id="date">12/2019</h3>
    </div>
    <div class="col-sm-4 m-2 p-1">
      <iframe
        width="100%"
        height="300px"
        src="https://www.youtube.com/embed/ncwg86uv0QI?list=TLPQMTkwMTIwMjDgYEaFr0c03g"
        frameborder="0"
        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
      ></iframe>
    </div>
    <div class="col-sm-2"></div>
    <!-- .row -->
  </div>

  <div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-4 m-2 p-1">
      <h3>Audrey's Birthday</h3>
      <h4>New Orleans, LA</h4>
      <h3 id="date">11/2019</h3>
    </div>
    <div class="col-sm-4 m-2 p-1">
      <iframe
        width="100%"
        height="300px"
        src="https://www.youtube.com/embed/LFuJPIoVkPE?list=TLPQMTkwMTIwMjDgYEaFr0c03g"
        frameborder="0"
        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
      ></iframe>
    </div>
    <div class="col-sm-2"></div>
    <!-- .row -->
  </div>

  <div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-4 m-2 p-1">
      <h3>New York 2019</h3>
      <h4>New York, NY</h4>
      <h3 id="date">8/2019</h3>
    </div>
    <div class="col-sm-4 m-2 p-1">
      <iframe
        class="first"
        width="100%"
        height="300px"
        src="https://www.youtube.com/embed/xqlfYtdpi94?list=TLPQMTkwMTIwMjDgYEaFr0c03g"
        frameborder="0"
        allow="accelerometer; encrypted-media; gyroscope; picture-in-picture"
      ></iframe>
    </div>
    <div class="col-sm-2"></div>
    <!-- .row -->
  </div>
</div>
